body{
   
    background-color: rgb(240, 231, 152);
}
.input-number{
    width: 125px;
}
.button {
    background-color: #57bb96;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }
  .heading {
      margin: 20px;
    border: 4px solid purple;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    padding: 0px 70px 0px 70px;
    margin-left: 40%;
    background-color: bisque;
    font-style: italic;
    color:rgb(14, 203, 209);
    text-shadow: 1px 1px rgb(3, 53, 54); 
    box-shadow :3px 3px rgb(230, 60, 230);
}
.box{
   
    margin-top: 20px;
    border:5px solid rgb(247, 180, 158);
    width: 1240px;
    height: 500px;
    position: relative;
    background-color: rgb(164, 173, 173);
    color:rgb(14, 203, 209);
    text-shadow: 1px 1px rgb(3, 53, 54); 
}

.box1{
    border-radius: 10px;
    border: 4px solid purple;
    position: absolute;
    background-color: bisque;
    height:200px;
    width: 200px;
    text-align: center;
    top: 10px;
    left: 10px;
    box-shadow :3px 3px rgb(230, 60, 230);
}.box2{
    border-radius: 10px;
    border: 4px solid purple;
    position: absolute;
    background-color: bisque;
    height:200px;
    width: 200px;
    text-align: center;
    top: 10px;
   right: 10px;
   box-shadow :3px 3px rgb(230, 60, 230);
}.box3{
    border-radius: 10px;
    border: 4px solid purple;
    background-color: bisque;
    position: absolute;
    height:200px;
    width: 200px;
    text-align: center;
    bottom: 10px;
    left: 10px;
    box-shadow :3px 3px rgb(230, 60, 230);
}
.box4{
    border-radius: 10px;
    border: 4px solid purple;
    background-color: bisque;
    position: absolute;
    height:200px;
    width: 200px;
    text-align: center;
    bottom: 10px;
    right: 10px;
    box-shadow :3px 3px rgb(230, 60, 230);
}
.img{
    width: 190px;
    height: 190px;
    padding: 5px;
}
.offer-box {
    border: 5px solid rgb(247, 180, 158);
    border-radius: 15px;
    width: 300px;
    height: 70px;
    color: blue;
    font-style: italic;
    position: fixed;
    left: 500px;
    bottom: 20px;
    background-color: rgb(151, 253, 248);
    z-index: 1;
   
}

.f-box1{
    position: absolute;
    height:50px;
    width: 122px;
    text-align: center;
    left: 10px;

}
.f-box2{
    position: absolute;
    height:50px;
    width: 100px;
    text-align: center;
    right: 10px;

}
.card-head{
    margin: 50px;
    border:5px solid rgb(216, 71, 23);
    width: 816px;
    height:567px;
    position: relative;
    background-color:purple; 
    box-sizing:content-box;
    left: 160px;
    color:r0b(6, 61, 63);
    text-align: center;
}
.card1{
    line-height: 1.6;
    font-style: italic;
    width: 400px;
    text-align: center;
    float: left;
    height: 250px;
    border: 4px solid purple;
    box-sizing:content-box;
    background-color: bisque;
 

}
.card2{
    line-height: 1.6;
    font-style: italic;
    width: 400px;
    text-align: center;
    float: right;
    height: 250px;
    border: 4px solid purple;
    box-sizing:content-box;
    background-color: bisque;
 

}
.card3{
   
    font-style: italic;
    height: 235px;
    width:816px;
    text-align: center;
    line-height: 1.6;
    float: left;
    box-sizing: content-box;
    border: 4px solid purple;
    box-sizing:content-box;
    background-color: bisque;

}